.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.login-box {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}

.login-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 35%;
  background: #b388ff;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.login-box h2 {
  margin-bottom: 30px;
  color: #333;
}

.login-box input {
  display: block;
  margin: 10px auto;
  padding: 10px 15px;
  width: 80%;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
}

.login-btn {
  background-color: #b388ff;
  color: white;
  border: none;
  padding: 10px 30px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 6px;
}

.forgot-btn {
  margin-top: 15px;
  background: #e0d7fc;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
}
